
.container
{
    display: flex; 
     flex-direction: column;
    align-items: center; 
    background-color: rgb(47, 42, 205);
    color: rgb(24, 224, 204);
}
.head
{
   font-family: 'Bebas Neue',sans-serif;
    font-size: 2rem;
    display: flex;
    
    justify-content: center;
    position: relative;
}
.head .jala
{
    color: black;
}
.head .oft
{
    color: red;
}

.poster
{
    
    background-color: white;
    /* width: 20rem; */
    border: 4px solid black;
  
    
}

.image-person
{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: black;
    /* width: 20rem; */
    
    color: white;  
    padding-top: 1rem;  
    font-size: 1rem;
    
}
.image-person h1{
    margin: 20px;
    font-family: sans-serif;
}

.image-person img
{
    /* width: 15rem; */
    border-radius: 20%;
}

.foder
{
    display: flex;
    justify-content: center;
    background-color: red;
    color: white;
    font: 1em sans-serif;
    font-size: 1rem;
}